* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.contact {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 1000px;
  height: 600px;
  margin: 30px auto;
  position: relative;
  background-color: #000000ed;
}

.contact .ct_form {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  width: 50%;
  height: 100%;
  background-color: white;
  box-shadow: 0 2px 8px 0 rgb(0, 0, 0, 0.4);
  padding: 30px 25px;
}
.contact .ct_form form {
  position: relative;
}
.contact .ct_form h1 {
  text-align: center;
  margin-bottom: 10px;
}

.contact .ct_info {
  width: 50%;
  height: 840px;
  background: url("../images/cont_bg.png") no-repeat;
  background-size: cover;
  background-position: 50%;
}

input,
textarea {
  width: 100%;
  padding: 15px;
  margin-top: 12px;
  font-size: 20px;
  border: 2px solid #80808040;
  outline: none;
}

textarea {
  height: 200px;
}

input[type="submit"] {
  width: 50%;
  position: absolute;
  left: 120px;
  background-color: #06d001;
  color: white;
  font-weight: bold;
  border-radius: 20px;
  margin-top: 22px;
  cursor: pointer;
  transition: 0.2s;
}
